<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.polyshift.polyshift" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:name="de.polyshift.polyshift.Analytics.AnalyticsApplication"
        android:theme="@style/MyTheme"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name" >
        <activity
            android:name="de.polyshift.polyshift.Game.GameActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="de.polyshift.polyshift.Menu.WelcomeActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.polyshift.polyshift.Menu.SignupActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="de.polyshift.polyshift.Game.PolyshiftActivity"
            android:launchMode="singleTask"
            android:label="@string/title_poly_shift" >
        </activity>
        <activity
            android:name="de.polyshift.polyshift.Game.TrainingActivity"
            android:launchMode="singleTask"
            android:label="@string/title_poly_shift" >
        </activity>
        <activity android:name="de.polyshift.polyshift.Menu.MainMenuActivity"
                  android:launchMode="singleTask" />
        <activity android:name="de.polyshift.polyshift.Menu.ChooseOpponentActivity"
                  android:launchMode="singleTask"/>
        <activity android:name="de.polyshift.polyshift.Menu.NewOpponentActivity"
                  android:launchMode="singleTask"
                  android:windowSoftInputMode="stateVisible"/>
        <activity android:name="de.polyshift.polyshift.Menu.OpponentsAttendingActivity"
                  android:launchMode="singleTask"/>
        <activity android:name="de.polyshift.polyshift.Menu.MyGamesActivity"
                  android:launchMode="singleTask"/>
        <activity android:name="de.polyshift.polyshift.Menu.GamesAttendingActivity"
                  android:launchMode="singleTask"/>
        <activity
                  android:name="de.polyshift.polyshift.Menu.ScoresActivity"
                  android:label="@string/title_activity_scores"
                  android:launchMode="singleTask"/>

        <receiver
            android:name="de.polyshift.polyshift.Menu.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service android:name="de.polyshift.polyshift.Menu.GcmIntentService" />

    </application>

</manifest>
